.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer .box {
  display: flex;
}

.footer .logo {
  color: var(--cloud);
}

.footer .text {
  color: var(--cloud);
  width: 264px;
  margin-top: 16px;
}

.social {
  max-width: 208px;
  margin-left: 120px;
}

.social .social-list {
  margin-top: 16px;
}

.footer .social .social-list {
  gap: 16px;
}

.social .social-list .link:hover,
.social .social-list .link:focus {
  background-color: var(--green);
}

.social .title {
  font-weight: 500;
  color: var(--white);
}
.social .icon {
  fill: var(--cloud);
}
